.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 2.5em;
    color: rgb(0,108,255);
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: -0.6em;
    right: 0;
    opacity:10; 
  }
  
  @media (max-width:768px){
    .ml4{
      font-size: 1.5em;
    }
  }